body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjG9dIzOs1f2vVcRmxtnWbLF6Lrr54Tw8Anw&usqp=CAU);
}

#connav{
    background-color:rgba(202, 218, 74) ;
}
button#nav_btn{
    background-color:rgba(234, 126, 98) ;
    color:black ;
    
}

#form-container {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgba(179, 116, 98);
    color: white;
    width: 25rem;
    padding:2rem;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    

}

#form-container_1{
    position: absolute;
    top:  60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgba(179, 116, 98);
    color: white;
    width: 25rem;
    padding:2rem;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    

}

.logbtn {
    padding-top: 2rem;
    

}
.btn{
    background-color: rgba(103, 95, 64);
    color: white;
}

.form-text {
    color:white;
    

}